@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.06%;
    --foreground: 0 0% 87.84%;

    --card: 0 0% 11.76%;
    --card-foreground: 0 0% 87.84%;

    --popover: 0 0% 17.25%;
    --popover-foreground: 0 0% 87.84%;

    --primary: 255 100% 66.08%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 11.76%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 22.75%;
    --muted-foreground: 0 0% 69.02%;

    --accent: 0 0% 23.53%;
    --accent-foreground: 0 0% 7.06%;

    --destructive: 349 52.24% 60.59%;
    --destructive-foreground: 0 0% 7.06%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 267 95.16% 75.69%;

    --sidebar-background: 0 0% 11.76%;
    --sidebar-foreground: 0 0% 87.84%;
    --sidebar-primary: 267 95.16% 75.69%;
    --sidebar-primary-foreground: 0 0% 7.06%;
    --sidebar-accent: 174 97.29% 43.33%;
    --sidebar-accent-foreground: 0 0% 7.06%;
    --sidebar-border: 0 0% 22.75%;
    --sidebar-ring: 267 95.16% 75.69%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
